[logins]
username = xxx@aaa.bbb
password = abc123ABC
backblazekey = xxx
backblazesecret = xxx
backblazebucket = xxx
feedurl = https://xxx/podcast.xml
outputfile = /var/www/html/podcast.xml
filedomain = https://f001.backblazeb2.com